
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
            <% @admin_products.each do |admin_product| %>
            <div class="product">
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product" product_id="<%=admin_product.id%>">
                        <div class="product-upper">
                        <%= image_tag admin_product.image.url(:medium)%>
                        </div>
                        <h3><%= link_to admin_product.name, admin_product%></h3>
                        <div class="product-carousel-price">
                            <ins><%=admin_product.price%></ins>
                        </div>          
                    </div>
                   <%= link_to 'Show', admin_product %>
                   <%= link_to 'Edit', edit_admin_product_path(admin_product) %>
                   <%= link_to 'Destroy', admin_product_path(admin_product), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
               <% end %>
            </div>
        </div>
    </div>


        